
.container{
    font-family: 'Futura';
    display:flex;
    align-items:center;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    flex-direction:column;
    background: rgba(255,255,255,0.5);
    padding:10px;
    border-radius:10px;
}
.header{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:10px;
}
.text{
    color:blueviolet;
    font-size: 20px;
}
.underline{
    width:50px;
    height:6px;
    background: purple;
    border-radius:10px;
}
.inputs{
    margin-top: 55px;
    display:flex;
    flex-direction:column;
    gap:25px;
}
.input {
    display: flex;
    align-items: center;
    margin: auto;
    height:60px;
    width:250px;
    border-radius: 8px;
    background: rgb(212, 199, 199);
}

.input img{
    margin: 0 5px;
    height:16px;
    width:16px;
}

.input input{
    height:30px;
    width:200px;
    background:transparent;
    border:none;
    outline:none;
    font-size:19px;
}

.forgotPassword{
font-size:19px;
}

.forgotPassword span{
    color:purple;
    cursor:pointer;
}

.submitContainer{
    display:flex;
    gap:30px;
    margin: 10px;
}

.submit{
display:flex;
background: purple;
height:30px;
width:100px;
justify-content: center;
border-radius:30px;
font-size:19px;
font-weight: 500;
color: white;
}

.grey{
    background:white;
    color:rgb(212, 199, 199)
}

.visible{
    display: block;
}